
.container {
    width: 1160px;
    margin: 0 auto;
}
.tabs-menu {
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
    display: flex;
}

.tabs-menu-item{
    width: 191px;
    height: 70px;
    display: flex;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
}

.tabs-content-item {
    display: none;
}
.active-tabs{
    display: flex;
}
.content-tabs-text {
    font-size: 14px;
    color: #a4a4a4;
}

.tabs-image-size {
    width: 190px;
    height: 140px;
}
.active{
    display: flex;
}